/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #0A2540;
$primary: #1C2528;
$secondary: #6B6B6B;
$ternary: #b5b5b5;
$border: #E5E5E5;
$gray: #F4F6F9;
$accent: #6990FF;
$accent2: #52C8C4;
